
:root{
    --main:#2de200;
    --black:#000;
    --white:#fff;
    --green:#0d9979;
    --box_shadow:10px 10px 10px -10px rgba(0,0,0,0.3),inset 10px 10px 10px -10px
    rgba(0,0,0,0.6);
    --font_family:"SITX Two Text",serif;

}
html{
    scroll-behavior: smooth;
}
/* Navbar section Start */




/* HOme Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 530px;
    justify-content: center;
    align-items: center;
}
#home::before{ 
    content: "";
    position: absolute;
    background: url('../../images/home.jpg') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    opacity:0.89;
}
#home h1{
    color:white;
    text-align: center;
    font-family: 'Signika Negative', sans-serif;
}
#home p{
    color:white;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Signika Negative', sans-serif;
}

/* Factor */
.pura_box{
    display: flex;
    flex-direction: column;
}
#lab-container{
    background-color: antiquewhite;
    margin-top: 7rem;
    width: 100%;
}
#lab{
    margin: 25px;
    margin-bottom: 0;
    display: flex;
  
}
#lab .box{ 
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #f2f2f2;
    margin-bottom: 20px;
    box-shadow: -5px -5px 5px 2px #7973a1,
                  14px 5px 7px;
    position: relative;

}

#lab .box img{ 
   height: 160px;
   margin: auto;
   display: block;
}

#lab .box p{
    font-family: 'Signika Negative', sans-serif;

} 

/* Event Section*/
#event-container{
    background-color: #b7c058;
    
}
#container{
    margin: 25px;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
   
}
#container .box1{ 
    display: flex;
    flex-wrap: wrap;
    border: 2px solid brown;
    padding: 34px;
    margin: 2px 55px;
    border-radius: 28px;
    background: #ca9595 ;
    margin-bottom: 20px;
    box-shadow: -5px -5px 5px 2px #838367,
                 14px 5px 7px;
}
#container .box1 img{ 
    height: 160px;
    margin: auto;
    display: block;
 }
 #econtainer .box1 p{
    font-family: 'Signika Negative', sans-serif;
} 




/* Utility function */
.h-primary{
   font-family: 'Signika Negative', sans-serif;
    font-size: 3.8rem;
    padding: 12px;
    text-shadow: 1px 4px 1px red,
                -1px -4px 2px blue;
}


.h-secondary{
   font-family: 'Signika Negative', sans-serif;
    font-size: 2.3rem;
    padding: 12px;
}

.btn:hover{
     
    border: 2px solid white;
    background-color: brown;
    color: white; 
    border-radius: 10px; 
   
}


.center{
    text-align: center;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.summit{
    display: inline;
    position: absolute;
    bottom: 0;
    left: 454px;
    
    
}


/* .main{
    z-index: -1;
} */
.nav-link1{
    position: absolute;
    bottom: 5px;
}


@media (max-width:768px){

    html{
        font-size: 55%;
    }

     .navbar{
        position: fixed;
        top:-100rem; left:0;
        width: 100%;
        border-top: .1rem solid #ccc;
        opacity: 0;
    }
     .navbar ul{
        flex-flow: column;
        padding:2rem 0;
        background-color: #fff;
    }

     .navbar ul li{
        width: 100%;
        text-align: center;
        margin:1rem 0;
    }

     .navbar ul li a{
        font-size: 3rem;
        display: block;
    }

     .content h1{
        font-size: 5rem;
    }

     .content p{
        width: auto;
    }

    .service .box-container{
        width: auto;
    }

}

@media (max-width:500px){
    .donate .form-container{
        width: 100%;
    }
    .donate {
        width: 90%;
    }
}