form {
	max-width: 500px;
	margin: auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 5rem;
  }
  
  label {
	display: block;
	margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],input[type='number'],input[type='password'],input[type='url']
   {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 16px;
	color: black;
  }
  
  input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
  }
  
  input[type="submit"]:hover {
	background-color: #45a049;
  }
  